<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>个人中心</title>
    <meta name="keywords" content="侧边导航菜单(可分组折叠)">
    <meta name="description" content="侧边导航菜单(可分组折叠)" />
    <meta name="HandheldFriendly" content="True" />
    <link rel="shortcut icon" href="img/favicon.ico">

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/info.css" />

    <!-- Icons -->
    <link href="css/sidebar/icons.css" rel="stylesheet" />
    <!-- Main stylesheets (template main css file) -->
    <link href="css/sidebar/main.css" rel="stylesheet" />

</head>

<body>


<div id="header" class="header-fixed">
    <div class="container-fluid">
        <div class="navbar">

            <div class="navbar-header">
                <a class="navbar-brand" href="doctorinfo.html">
                    <i class="text-logo-element animated bounceIn"></i><span class="text-logo">O</span><span class="text-slogan">MS</span>
                </a>
            </div>

            <nav class="top-nav" role="navigation">
                <ul class="nav navbar-nav pull-left">

                    <li id="toggle-sidebar-li">
                        <a href="javascript:void(0)" id="toggle-sidebar" onclick="switch_sidebar()"><i class="en-arrow-left2" style="transform: rotate(0deg);"></i>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)" class="full-screen" onclick="fulls()"><i class="fa-fullscreen"></i></a>
                    </li>

                </ul>

                <ul class="nav navbar-nav pull-right">


                    <li class="dropdown">
                        <a href="javascript:void(0)" data-toggle="dropdown">
                            <img class="user-avatar" id="avatar-head" src="" alt=""><span id="username-head"></span></a>
                        <ul class="dropdown-menu animated fadeInDown" role="menu" style="margin-left: -24px;">

                            <li><a href="javascript:void(0)" onclick="patient_group()"><i class="st-user"></i> 患者资料</a>
                            </li>

                            <li><a href="javascript:void(0)" id="login_log" onclick="patient_group()"><i class="st-settings"></i> 登录日志</a>
                            </li>

                            <li><a href="login.html" onclick="logout()"><i class="im-exit"></i> 退出登录</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
    <!-- Start .header-inner -->
</div>

<div id="sidebar" class="sidebar-fixed">
    <!-- Start .sidebar-inner -->
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;"><div class="sidebar-inner" style="overflow: hidden; width: auto; height: 100%;">
        <!-- Start #sideNav -->
        <ul id="sideNav" class="nav nav-pills nav-stacked show-arrows">

            <li class="hasSub"  data-toggle="collapse" data-target="#admin-side1">
                <a href="javascript:void(0)" class="notExpand"><i class="en-arrow-down5 sideNav-arrow"></i> 用户信息 <i class="im-user3"></i></a>

            </li>

            <div id="admin-side1" class="collapse">
                <ul class="nav sub">
                    <li><a href="javascript:void(0)" onclick="patient_group()"><i class="im-user2"></i> 患者资料</a>
                    </li>
                </ul>
            </div>

            <li class="hasSub"  data-toggle="collapse" data-target="#admin-side2">
                <a href="javascript:void(0)" class="notExpand"><i class="en-arrow-down5 sideNav-arrow"></i> 病历信息 <i class="im-address-book"></i></a>

            </li>

            <div id="admin-side2" class="collapse">
                <ul class="nav sub">
                    <li><a href="javascript:void(0)" onclick="patient_group()" id="recordlist"><i class="ec-cog"></i> 病历管理</a>
                    </li>
                    <li><a href="javascript:void(0)" onclick="patient_group()" id="orderloglist"><i class="ec-pencil2"></i> 线上咨询记录</a>
                    </li>
                </ul>
            </div>

            <li class="hasSub"  data-toggle="collapse" data-target="#admin-side3">
                <a href="javascript:void(0)" class="notExpand"><i class="en-arrow-down5 sideNav-arrow"></i> 预约咨询 <i class="en-chat"></i></a>

            </li>

            <div id="admin-side3" class="collapse">
                <ul class="nav sub">
                    <!--<li><a href="reservation.html" target="_blank"><i class="im-wand"></i> 预约医生</a>-->
                    <li><a href="javascript:void(0)" onclick="patient_group()" id="reservation"><i class="st-chat"></i> 预约医生</a>
                    </li>
                    <li><a href="javascript:void(0)" onclick="patient_group()" id="orderlist"><i class="im-file4"></i>  订单记录</a>
                    </li>
                </ul>
            </div>

            <li class="hasSub"  data-toggle="collapse" data-target="#admin-side5">
                <a href="javascript:void(0)" class="notExpand"><i class="en-arrow-down5 sideNav-arrow"></i> 账号安全 <i class="br-locked"></i></a>

            </li>

            <div id="admin-side5" class="collapse">
                <ul class="nav sub">
                    <li><a href="javascript:void(0)" onclick="patient_group()" id="login_log"><i class="im-file-openoffice"></i> 登录日志</a>
                    </li>
                </ul>
            </div>

        </ul>
        <!-- End #sideNav -->

    </div>
        <div class="slimScrollBar" style="background: rgb(153, 153, 153); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 0px; height: 428.656px;"></div><div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(238, 238, 238); opacity: 0.5; z-index: 90; right: 0px;"></div></div>
    <!-- End .sidebar-inner -->
</div>

<div id="content">

    <div id="info-content"></div>

</div>

<div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="avatar-form" enctype="multipart/form-data" method="post">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h4 class="modal-title" id="avatar-modal-label">修改头像</h4>
                </div>
                <div class="modal-body">
                    <div class="avatar-body">
                        <div class="avatar-upload">
                            <input class="avatar-src" name="avatar_src" type="hidden">
                            <input class="avatar-data" name="avatar_data" type="hidden">
                            <label for="avatarInput">上传头像图片</label>
                            <input class="avatar-input" id="avatarInput" name="avatar_file" type="file"></div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="avatar-wrapper"></div>
                            </div>
                            <div class="col-md-3">
                                <div class="avatar-preview preview-lg"></div>
                                <div class="avatar-preview preview-md"></div>
                                <div class="avatar-preview preview-sm"></div>
                            </div>
                        </div>
                        <div class="row avatar-btns">
                            <div class="col-md-9">
                                <div class="btn-group">
                                    <button class="btn" data-method="rotate" data-option="-90" type="button" title="Rotate -90 degrees"><i class="fa fa-undo"></i> 向左旋转</button>
                                </div>
                                <div class="btn-group">
                                    <button class="btn" data-method="rotate" data-option="90" type="button" title="Rotate 90 degrees"><i class="fa fa-repeat"></i> 向右旋转</button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-success btn-block avatar-save" type="submit"><i class="fa fa-save"></i> 保存修改</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="js/lib/jquery-1.12.4.min.js"></script>
<script src="js/lib/bootstrap.min.js "></script>
<script src="js/caseInfo/bootstrap-table.js"></script>                       <!--table插件-->
<script src="js/caseInfo/bootstrap-table-zh-CN.js"></script>                 <!--中文table-->
<script src="js/lib/bootstrap-notify.min.js"></script>
<script src="js/util.js"></script>
<script src="js/medicalrecord/data.js"></script>
<script src="js/userinfo.js"></script>

<!--头像上传插件相关-->
<link href="css/cropper/cropper.min.css" rel="stylesheet">
<link href="css/avatar.css" rel="stylesheet">
<script src="js/lib/cropper/cropper.min.js"></script>
<script src="js/avatar.js"></script>

</body>

</html>