<br>
<link rel="stylesheet" href="css/bootstrap-datepicker3.css"> <!--生日选择样式-->
<!--<link rel="stylesheet" href="css/case.css">-->
<link rel="stylesheet" href="css/bootstrap-table.css">

<div class="outlet">
    <!-- Start .outlet -->
    <!-- Page start here ( usual with .row ) -->
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <!-- col-lg-4 start here -->
            <div class="panel panel-default plain profile-widget" id="spr_0">
                <!-- Start .panel -->
                <div class="panel-heading white-bg pl0 pr0">
                    <img class="profile-image img-responsive" src="img/profile-cover.jpg" alt="profile cover">
                </div>
                <div class="panel-body">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <!--<div class="profile-avatar">-->
                        <!--<img class="img-responsive" src="" id="profile-avatar">-->
                        <!--</div>-->
                        <dd class="mod-account-avatar profile-avatar">
                            <a class="account-avatar-panel" target="_blank">
                                <img class="account-avatar-show img-responsive" id="profile-avatar" width="150" height="150" src="" data-target="#avatar-modal" data-toggle="modal">
                                <span class="account-avatar-edit">修改照片</span>
                            </a>
                        </dd>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <div class="profile-name">
                            <span id="profile-name"></span>
                            <span class="label label-success" id="profile-type">患者</span>
                        </div>

                        <div class="profile-quote">
                            <p>欢迎登录个人中心！</p>
                            <p>注册时间：<span id="profile-create-time"></span></p>
                            <p>最后登录：<span id="profile-last-login"></span></p>

                            <button class="btn btn-warning" data-toggle="modal" data-target="#change-phone-modal">修改手机</button>
                            <button class="btn btn-success" data-toggle="modal" data-target="#change-pwd-modal">修改密码</button>

                        </div>

                    </div>
                </div>
                <div class="panel-footer white-bg">
                    <ul class="profile-info">
                        <li><i class="ec-mobile"></i> <span id="profile-phone"></span> </li>
                    </ul>
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-4 end here -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <!-- col-lg-4 start here -->
            <div class="panel panel-default plain" id="spr_1">
                <!-- Start .panel -->
                <div class="panel-heading white-bg">
                    <h4 class="panel-title"><i class="ec-user"></i> 患者资料</h4>
                </div>
                <div class="panel-body">
                    <table id="caseTable"></table>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#addCase">添加患者</button>

                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-4 end here -->
    </div>
    <!-- Page End here -->
</div>

<!--添加弹框-->
<div class="modal fade" tabindex="-1" role="dialog" id="addCase">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title" >添加患者信息</h4>
            </div>
            <div class="modal-body">

                <div id="alertmessage"></div>

                <div class="row modal-body-height">
                    <div class="col-md-3 col-md-offset-1">
                        姓名：
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="pname" class="form-control" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="row modal-body-height">
                    <div class="col-md-3 col-md-offset-1">
                        性别：
                    </div>
                    <div class="col-md-8">
                        <input type="radio"  name="sex" checked="checked" value="1"/>男
                        <input type="radio"  name="sex" value="0"/>女
                    </div>
                </div>
                <div class="row modal-body-height">
                    <div class="col-md-3 col-md-offset-1">
                        生日：
                    </div>
                    <div class="col-md-8">
                        <div class="input-group date datepicker">
                            <input type="text" id="birthday" class="form-control">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th "></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row modal-body-height">
                    <div class="col-md-3 col-md-offset-1">
                        居住地址：
                    </div>
                    <div class="col-md-8">
                        <div>
                            <form class="form-inline">
                                <div data-toggle="distpicker">
                                    <div class="form-group">
                                        <label class="sr-only" for="province1">Province</label>
                                        <select class="form-control" id="province"></select>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="city1">City</label>
                                        <select class="form-control" id="city"></select>
                                    </div>
                                    <div class="form-group Distr">
                                        <label class="sr-only" for="district1">District</label>
                                        <select class="form-control" id="district"></select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row modal-body-height">
                    <div class="col-md-3 col-md-offset-1">
                        手机号码：
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="phone" class="form-control" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="bOK">保存</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--编辑弹框-->
<div class="modal fade" tabindex="-1" role="dialog" id="editCase">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title" >编辑患者信息</h4>
            </div>
            <div class="modal-body">

                <div id="alertmessage1"></div>

                <div class="row modal-body-height">
                    <div id="getID" style="display: none"></div>
                    <div class="col-md-3 col-md-offset-1">
                        姓名：
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="pname1" class="form-control" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="row modal-body-height">
                    <div class="col-md-3 col-md-offset-1">
                        性别：
                    </div>
                    <div class="col-md-8">
                        <input type="radio" id="man" name="sex" checked="checked" value="1"/>男
                        <input type="radio" id="woman" name="sex" value="0"/>女
                    </div>
                </div>
                <div class="row modal-body-height">
                    <div class="col-md-3 col-md-offset-1">
                        生日：
                    </div>
                    <div class="col-md-8">
                        <div class="input-group date datepicker">
                            <input type="text" id="birthday1" class="form-control">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th "></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row modal-body-height">
                    <div class="col-md-3 col-md-offset-1">
                        居住地址：
                    </div>
                    <div class="col-md-8">
                        <div>
                            <form class="form-inline">
                                <div data-toggle="distpicker">
                                    <div class="form-group">
                                        <label class="sr-only" for="province1">Province</label>
                                        <select class="form-control" id="province1"></select>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="city1">City</label>
                                        <select class="form-control" id="city1"></select>
                                    </div>
                                    <div class="form-group Distr">
                                        <label class="sr-only" for="district1">District</label>
                                        <select class="form-control" id="district1"></select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row modal-body-height">
                    <div class="col-md-3 col-md-offset-1">
                        手机号码：
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="phone1" class="form-control" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="bOK1">保存</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade in" id="change-phone-modal" aria-hidden="true" aria-labelledby="change-phone-label" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title">修改绑定手机</h4>
            </div>
            <div class="modal-body">

                <div id="alertmessage3"></div>

                <div class="input-group marginH">
                    <span class="input-group-addon" >当前手机</span>
                    <input id="old_phone" type="text" class="form-control" placeholder="请输入当前绑定的手机号">
                </div>

                <br>

                <div class="input-group marginH">
                    <span class="input-group-addon" >新的手机</span>
                    <input id="new_phone" type="text" class="form-control" placeholder="请输入新的手机号">
                </div>

                <br>

                <div class="row">
                    <div class="col-md-8">
                        <div class="input-group marginH" id="infoCode">
                            <span class="input-group-addon">短信验证码</span>
                            <input id="code" type="text" class="form-control" placeholder="手机验证码" >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button type="button" id="getInfoCode" class="btn btn-info" onclick="send()">点击获取</button>
                    </div>
                </div>

                <br>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="submit_phone" type="button" class="btn btn-success" onclick="edit_phone()">确定</button>
                </div>



            </div>

        </div>
    </div>
</div>

<div class="modal fade in" id="change-pwd-modal" aria-hidden="true" aria-labelledby="change-pwd-label" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title">修改密码</h4>
            </div>
            <div class="modal-body">

                <div id="alertmessage2"></div>

                <div class="input-group marginH">
                    <span class="input-group-addon" >请输入原密码</span>
                    <input type="text" id="password" class="form-control" />
                </div>
                <br>

                <div class="input-group marginH" >
                    <span class="input-group-addon" >请输入新密码</span>
                    <input type="text" id="newpwd1" class="form-control"/>
                </div>
                <br>
                <div class="input-group marginH">
                    <span class="input-group-addon" >请重新输入新密码</span>
                    <input type="text" id="newpwd2" class="form-control" />
                </div>


                <br>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="submit_pwd" type="button" class="btn btn-success" onclick="change_pwd()">确定</button>
                </div>



            </div>

        </div>
    </div>
</div>

<script src="js/lib/bootbox.min.js"></script>
<script src="js/caseInfo/cityData.js"></script>                              <!--城市库-->
<script src="js/caseInfo/city.js"></script>                                  <!--三级联动逻辑-->
<script src="js/caseInfo/bootstrap-datepicker.js"></script>                  <!--生日选择-->
<script src="js/caseInfo/bootstrap-datepicker.zh-CN.min.js"></script>        <!--调用中文生日选择-->
<script src="js/caseInfo/bootstrap-table.js"></script>                       <!--table插件-->
<script src="js/caseInfo/bootstrap-table-zh-CN.js"></script>                 <!--中文table-->
<script src="js/caseInfo/data.js"></script>                                  <!--table初始化-->
<script type="text/javascript">
    $(function(){
        $('.datepicker').datepicker({
            language: 'zh-CN'
        });
    });
</script>                                  <!--设置生日语言-->

<script src="js/util.js"></script>
<script src="js/time.js"></script>
<script src="js/account.js"></script>
<script src="js/verify.js"></script>
<script src="js/patientinfo/addpatient.js"></script>

