
<meta charset="UTF-8">
<!--<link rel="stylesheet" href="css/bootstrap-table.css">-->
<link rel="stylesheet" href="css/fileinput.css">
<link rel="stylesheet" href="css/bootstrap.css">

<div>
    <h3>导入医生资料</h3>
    <div class="bs-callout bs-callout-info">
        <h4>导入操作说明</h4>
        <p></p>
        <a href="javascript:void(0)" id="download">1.点击此处下载相应的excel模板。</a>
        <p></p>
        <p>2.按照模板的格式填写医生信息。</p>
        <p>3.保存修改后的excel文件并上传。</p>
    </div>
    <!--<button class="btn btn-success " id="download">下载模板</button>-->

    <input id="excelFile" type="file" >
</div>

<div class="modal fade" id="tip" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="margin-top: 200px ;" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">导入说明</h4>
            </div>
            <div class="modal-body">
                <div>1.下载示例模板</div>
                <div>2.按照模板格式填写医生信息</div>
                <div>3.将填写好医生信息的excel文件进行上传</div>
            </div>
            <div class="modal-footer">

                <button type="button" id="ok" data-dismiss="modal" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>


<script src="js/admin/fileinput.js"></script>
<!--<script src="js/lib/bootstrap.min.js"></script>-->
<script src="js/admin/zh.js"></script>

<script type="text/javascript">
    $("#download").click(function () {
        var $eleFormDoc = $("<form method='get'></form>");


        $eleFormDoc.attr("action",config.download_url + "/doctor.xlsx");

        $(document.body).append($eleFormDoc);

        //提交表单，实现下载
        $eleFormDoc.submit();
    })

</script>

<script type="text/javascript">
    $(function() {
        $("#excelFile").fileinput({
            uploadUrl: config.base_url+ "Importxls", //上传的地址  ?token="+checktoken()+"&type=doctor
            language: "zh",
            showCaption: true,              //是否显示标题
            uploadAsync: false,
            showUpload: true,               //是否显示上传按钮
            showRemove: true,               //是否显示移除按钮
            showPreview: true,                //是否显示预览按钮
            allowedFileExtensions: ["xls", "xlsx"], //接收的文件后缀
            uploadExtraData: {  //上传的时候，增加的附加参数
                 token:checktoken(),
                 type:"doctor"
                // folder: '数据导入文件', guid: $("#AttachGUID").val()
            }
        })
        .on('fileuploaded',function (event, data, previewId, index) {
            var res = data.response;
            console.log(res);
        })
    });
</script>
