
<meta charset="UTF-8">
<link rel="stylesheet" href="css/bootstrap-table.css">
<!--<link href="css/reservation/basic.css" type="text/css" rel="stylesheet">-->
<link href="css/reservation/xz_ks.css" type="text/css" rel="stylesheet">
<div class="col-md-9">
    <div id="list-info">
        <h3>患者病历查看</h3>
        <div class="btn-group" style="float:left;margin-right:10px;">
            <button type="button" id="current_name" class="btn btn-default">选择患者</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
            </ul>
            <ul id="blist" class="dropdown-menu" role="menu"></ul>
        </div>

        <button type="button" id="addCase" class="btn btn-primary">添加患者病历</button>

        <table id="caseTable"></table>
    </div>
</div>

<script src="js/util.js"></script>
<script src="js/caseInfo/bootstrap-table.js"></script>                       <!--table插件-->
<script src="js/caseInfo/bootstrap-table-zh-CN.js"></script>                 <!--中文table-->
<script src="js/medicalrecord/data.js"></script>                                  <!--table初始化-->
<script>
    $("#addCase").on("click",function () {
        window.location.hash = "addrecord";
        loadInner();
    });
</script>

